{% extends 'base.html' %}

{% block title %}
Add Course
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow p-4">

                <h2 class="text-center mb-4">
                    Add New Course
                </h2>

                <form method="POST"
                      enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button
                        class="btn btn-primary w-100"
                        type="submit">

                        Save Course

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}