{% extends 'base.html' %}

{% block title %}
Edit Live Class
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2>Edit Live Class</h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-primary">

                Update

            </button>

            <a
                href="{% url 'course_detail' live_class.course.id %}"
                class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}